@import "variables";

.cart-detail {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;


    @media (max-width: 640px) {
        width: 100%;
    }

    &_title {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            height: 20px;

            @media (max-width: 640px) {
                display: none;
            }

        }

        p {
            font-weight: bold;
            font-size: $lg;
        }
    }

    &_products {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &_card {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 100px;

            img:nth-child(1) {
                height: 100%;
                border-radius: 20px;
            }

            p:nth-child(2) {
                font-weight: 300;
            }

            p:nth-child(3) {
                font-weight: bold;
                margin-left: 80px;
                margin-right: 10px;
            }
        }
    }

    &_btns {
        margin: 20px 15px 30px 15px;


        &-sec {
            @include label;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px
        }

        &-prim {
            @include primaryBtn;
        }
    }

}