/* sass --watch ./scss/style.scss ./css/style.css*/
@import "variables";
@import 'newPassword';
@import 'email';
@import 'log-in';
@import 'sign-up';
@import 'edit-profile';
@import 'index';
@import 'desktop-menu';
@import 'mobile-menu';
@import 'my-order';
@import 'my-orders';
@import 'navbar';
@import 'product-detail';
@import 'shopping-cart';

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.inactive {
    display: none;
}